vendor/
node_modules/

.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
/public/uploads
/public/admin
/public/bower
/public/css
/public/js
/public/user
/public/build
/public/rev-manifest.json
/storage
/log
package-lock.json

# IDE hidden folder
.vscode
