.content-body {
  background: url('/user/image/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-top {
    z-index: 2;
}

.option-top.container {
    width: 100%;
    height: 300px;
    padding-top:7px;
}

.logo-word {
    img{
        height: 30px;
        width: 30px;
        margin-left: 30px;
        border-radius: 2px;
    }

    span {
        font-weight: 800;
        font-size: 20px;
        color: white;
    }
}

.search-form {
    height: 40px;width: 100%;
}

.row-table {
    padding-top: 5px;
    padding-bottom: 5px;
}

.title-question {
    margin-left: -0.5%;
    margin-bottom: 12px;
    padding-left: 3%;
    padding-bottom: 25px;

    .glyphicon.glyphicon-picture {
        font-size: 20px;
        color: gray;
        &:hover {
            color: #1ab9a7;
        }
    }

    .col-md-2.row{
        padding-top: 12px;
    }

    .glyphicon.glyphicon-trash {
        font-size: 20px;
        color: gray;
        &:hover {
            color: #ff6262;
        }
    }
    .glyphicon-sort {
        margin-left: 2px;
        font-size: 18px;
        color: gray;
        &:hover {
            color: #00a1ff;
        }
    }
}

.title-question:hover{
    background:white;
}

.content-question {
    background: #f4f7dc;
    border-radius: 5px;
    padding-bottom: 50px;
    margin: 0px 0px 120px 10%;
    background: white;

    >div:nth-child(1) {
        margin-top: 50px;
        margin-bottom:50px;

        input[type="text"] {
            text-align:center;
            padding: 17px 17px;
            width:100%;
            font-size:30px;
            border: 0px;
            border-radius:5px;
            border-bottom: 1px solid gray;
        }
    }
    .col-md-6.col-md-offset-3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.list {
    background: #f4f7dc;
    margin-top:-150px;
    border-radius: 5px;
    padding-bottom: 50px;
    position: relative;width: 70%;

    >div:nth-child(1) {
        text-align: center;
        padding: 10px 0px;
        h1 {

        }
    }
}
.content-table {
    font-size: 20px;width: 95%;margin: auto;

    .row-table {
        border-bottom: 1px solid black;
    }
}

.selectpicker {
    border:0px;
    border-radius:5px;
    display: inline-block;
    overflow: hidden;
    width: 100%;font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 10px 10px;font-size: 16px;
}

.text-question {
    margin-top: 14px;
    margin-bottom: 10px;

    input[type="text"]{
        border: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        height: 38px;
        padding: 0px 20px;
        font-size: 22px;
        width: 100%;
    }
}

.div-text-answer {
    width: 100%;
    margin-top: 10px;

    >input[type="text"] {
        border: 0px;
        border-bottom: 1px dotted rgba(0,0,0,0.38);
        margin: 0px 0px 0px 10px;
        height: 30px;
        padding: 7px 10px;
        font-size: 17px;
        width: 98%;
    }
}

.div-radio {
    margin-top: 9px;
    margin-left: 20px;
    width: 20px;
}

.div-content-answer {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    .remove-answer {
        display: none;
    }
    &:hover {
        .remove-answer {
            display: block;
        }
    }

    .col-md-1 {
        padding-top: 1.6%;
        text-align: right;
        padding-right: 0px;
    }

    .col-md-9 {
        padding-left: 0px;
    }

    .fa-circle-o {
        color: rgba(35, 34, 34, 0.19);
        font-size: 22px;
        margin-top: 7%;
    }

    .fa-square-o {
        color: rgba(0,0,0,0.26);
        font-size: 24px;
        margin-top: 6%;
    }

    .div-clock{
        padding-top: 0;
        .fa-clock-o ,.fa-calendar-o{
            color: rgba(51, 66, 64, 0.33);
            font-size: 30px;
             margin-top: 1%;
        }
        .fa-calendar-o {
            color: rgba(51, 66, 64, 0.33);
            font-size: 28px;
            margin-top: 1%;
        }
        .fa-file-text-o {
            color: rgba(51, 66, 64, 0.33);
            font-size: 28px;
            margin-top: 1%;
        }
    }
}

.div-radius {
    border: 1px solid gray;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    margin-top: 18px;
}

.div-square {
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    margin-top: 20px;
}

.img-trash {
    padding-top: 26px;
    >a {
        float:left;
    }
}

.clear {
    clear:left;
}

.choose-action {
    margin-top: 25px;
    display: none;
    button {
        padding: 5px 25px;
        border: 2px solid gray;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        background: transparent;

        &:hover{
            background: #c2e5c0;
            color: white;
        }
    }
}

.add-question.col-md-1 {
    position: fixed;
    color: gray;
    margin-top: -90px;
    margin-left:860px;
    >a {
        cursor: pointer;
        font-size: 30px;
        position:relative;
        ul{
            position:absolute;
            list-style: none;
            display:none;
            margin-left:-40px;

            li {
                width:190px;
                button{

                    border: 0px;
                    border-radius:5px;
                    font-size:17px;
                    letter-spacing: 0px;
                    text-transform: none;
                    padding-bottom: 10px;
                    font-weight: bold;
                    &:hover {
                        background: #53d6af;
                        color: white;
                    }
                }
            }
        }
        &:hover ul{
            display: block;
        }
    }
}

.other {
    width: 200px;
    span {
        font-size: 20px;
        color:gray;
    }
}

.remove-answer {
    margin-left: -10px;
    margin-top: 20px;
}

.choose-action {
    .col-md-7{
        button:nth-child(1) {
            margin-left: 20px;
        }
        button:nth-child(2) {
            margin-left: 20px;
        }
    }
}

.text-empty {
    width: 100%;
    >input[type="text"] {
        border: 0px;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.38);
        width: 50%;
        height: 30px;
        padding: 0px 3px;
        font-size: 18px;
        &:nth-child(2) {
            margin-top: 5px;
        }
    }

    >textarea {
        margin-left: 2%;
        border: 0px;
        font-size: 20px;
        height: 10px;
        width: 106%;
        padding: 7px 12px;
        border-bottom: 1px solid gray;
    }

}

.text-icon {
    padding: 8px;
    span{
        font-size: 30px;
        color: #b1b1b1;
    }
}

.navbar.navbar-inverse {
    border: 0px;
}

.container-fluid {
    background: url("/user/image/bg-sv.png");
    border-radius: 3px;
    font-weight: bold;
}

.search-form {
    width: 400px;
}

.dropdown-menu {
    margin-right: -80px;
}

.drop-1  {
    &:hover{
        .drop-1.dropdown-menu {
            display: block;
        }
    }
}

.btn.btn-default{
    height: 40px;
}

.form-control.search-form.fr {
    width: 400px;
}

.navbar-inverse {
    background:transparent;
}

.drop-2  {
    &:hover{
        .drop-2.dropdown-menu {
            display: block;
        }
    }
}

.info-as {
    float: left;
    margin-left: 0.5%;
    font-size: 20px;
}
.put-answer {
    margin-left: 2%;
    span {
        font-size: 21px;
        margin-left: 5px;
    }
}

.row-container-answer {
    width: 90%;
    padding: 20px 30px;
    background: #aeb789;
    margin: 20px auto;
    background: white;
    border-bottom: 1px solid #a3f7c2;

    h2 {
        margin: 0px;
        margin-bottom: 7px;
    }
}

.qs-content {
    font-size: 30px;
    font-weight: bold;
}

.container-other {
    margin-top: -5px;
    >div:nth-child(1) {
        float: left;
    }
    >div:nth-child(2) {
        float: left;
        margin-left: -10px;
        >div:nth-child(1) {
            position: absolute;
            width: 54%;

            >input[type="text"] {
                border-radius: 15px;
                border: 0px;
                width: 100%;
                font-size: 20px;
            }
        }
        >div:nth-child(2) {
            position: relative;
            margin-left: 5px;
        }
    }
    >.col-md-5 {
        margin-top: 4px;

        >input[type="text"] {
                height: 2em;
        }
    }
}

.short-text {
    width: 70%;
    padding: 10px 20px;
    border: 0px;
    border-radius: 15px;
}

.long-text {
    resize: none;
    border: 0px;
    padding: 10px 20px;
    height: 100px;
    border-bottom: 1px solid #bec1c4;
}

.row-checkbox {
    width: 90%;
    padding: 20px 30px;
    background: #adf7d1;
    margin: 20px auto;
    h2 {
        margin: 0px;
        margin-bottom: 7px;
    }
}

.dr-1 {
    margin-right: -80px;
}

.dr-2 {
    margin-right: -50px;
}

.content-question {
    width: 70%;
    margin-top:0px;
    margin-left: 10%;
    background: white;
}

.title-survey {
    color: white;
    text-align: center;
    padding-top: 30px;
    border-bottom: 1px dashed gray;

    h1 {
        color: gray;
    }
}

.bt-finish {
    margin-top: -10px;
    margin-right: 110px;
    padding: 5px 10px;;
    border: 0;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    height: 3em !important;
    line-height: 3em !important;

    &:hover {

        color: white;
    }
}

.div-public {
    margin-left: 45px;
    font-size: 25px;
    margin-top: -55px;
}
.div-finish {
    display: none;
    margin-top: -50px;
}

.table.table-striped {
    text-align: center;

    th {
        &:nth-child(1) {
        width: 3%;text-align: center;
        }
        &:nth-child(2) {
            text-align: center;
        }
        &:nth-child(3) {
            width: 20%;text-align: center;
        }
        &:nth-child(4) {
            width: 15%;text-align: center;
        }
        &:nth-child(5) {
            width: 12%;text-align: center;
        }
    }
    tr {
        border-bottom: 1px solid white;
        &:nth-child(even) {
            background: white;
            color: black;
            a {
                color: black;
                cursor: pointer;
            }
            &:hover {
                background: #a3ccf7;
            }
        }
        &:nth-child(odd) {
            background: transparent;
            color: white;
            a {
                color: white;
                cursor: pointer;
            }
            &:hover {
                background: #5e6368;
            }
        }
    }
}

.list.container {
    background: url('/user/image/bg-sv.png');
    color: white;
}

.div-submit {
    text-align: center;
    >input[type='submit'] {
        border: 1px solid white;
        padding:0px 30px 65px 30px;
        background: transparent;
        color: white;
        font-weight:bold;
        font-size: 18px;
        border-radius: 5px;
        &:hover {
            color: white;
        }
    }
}

.choose-link {
    >a {
        border: 1px solid gray;
        padding: 5px 15px;
        border-radius: 5px;
        margin-right: 10px;

        &:hover {
            text-decoration: none;
            background: white;
            border: 1px solid white;
        }
    }
}

.render {
    margin-top: 40px;
}

.ct-option {
    margin: 5px;
}

.info-update {
    width: 100%;

    >div {
        width: 80%;
        margin:auto;

        h2 {
            margin-left: 10%;
            color: #f477a9;
        }
    }
}

.ct-info {
    padding-top: 27px;

    .col-md-1 {
        padding-top: 5px;
    }

    .col-md-4 {
        input[type="text"] {
            height: 2em;
            padding-left: 7px;
        }
    }

    .col-image {
        padding-top: 5px;
    }

    .col-radio {
        padding-top: 5px;

        >div {
            float: left;
            >label {
                margin-bottom: 0px;
            }
        }
    }
    .col-female {
        margin-left: 55px;
    }
}

.info-last {
    margin-top: 30px;
}

.div-search {
    margin-bottom: 30px;

    >div:nth-child(1) {
        float: left;
        width: 87%;
        margin-right: 20px;

        >input[type="text"] {
            height: 53px;
            width: 100%;
            margin-bottom: -3px;
            font-size: 25px;
            padding-left: 10px;

        }
    }
    >input[type="submit"] {
        margin-bottom: 5px;
        float: left;
    }
}

.popupBackground {
    width: 100%;
    height: 100%;
    background: rgba(31, 34, 35, 0.92);
    position: fixed;
    display: none;
    z-index: 500;
    .popupCenter {
        display: block;
        left:30%;
        position: absolute;
        top: 14.5%;
        z-index: 500;
        .popupInfo {
            width: 550px;
            background: white;
            opacity: 1;

            .close {
                position: absolute;
                top: -7px;
                right: -7px;
                opacity: 0.9;

            }
        }
    }

    .popup-top {
        height: 50px;
        width: 100%;
        background: #ededed;
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
    }

    >input[type="email"] {
        height: 42px;
    }

    .bootstrap-tagsinput {
        width: 100%;
        line-height: 30px;

        >input[type="text"] {
            height: 1em;
        }
    }
}

.popup-span {
    font-size: 19px;
}

.btn-send-mail, .btn-close-popup , .btn-action {
    padding: 7px 20px;
    font-weight: bold;
    width: 100%;
    color: #ffffff;
    background: #5ba4a4;
    border: 0px;
    font-size: 15px;
    border-radius: 3px;
    &:hover {
        background: #d95347;;
        color: white;
    }
}

.btn-save-survey,
.btn-remove-survey,
.btn-open-survey,
.btn-close-survey,
.btn-duplicate-survey {
    color: #fdfdfd;
    font-size: 17px;
    box-shadow: 1px 2px 3px rgba(119, 132, 130, 0.56);
    background: #666e96;
    border-radius: 3px;
    margin-bottom: 10px;
}

.popup-input {
    margin-top: 1%;
    .bootstrap-tagsinput {
        input[type="text"] {
            font-size: 16px;
            width: 100%;
        }
    }
}

.bootstrap-tagsinput {
    input[type="text"] {
        width: 100%;
    }
}

.div-send {
    margin-top: 23px;
}

.input-email {
    border: 1px solid #cccccc !important;
    background: white !important;
    border-radius: 5px !important;
    height: 40px !important;
}

.art-container {
    position: relative;
}

.div-option {
    position: absolute;
    top: -30px;left: 40px;
    padding:0px;
    width: 361px;
}

.remove-survey {
    width: 24px;
    padding: 1px 22px 0px 0px;

    &:hover {
        color: #f2849e;
        cursor: pointer;
    }
}

.mark-survey {
    padding: 0px;
    font-size: 20px;
    padding-left: 4px;
    padding-right: 0px;

    &:hover {
        color: #f2849e;
        cursor: pointer;
    }
}

.send-mail {
    width: 120px;
    padding: 0px;
    margin-left: 0px;
    padding-left: 3px;
    .col-md-2 {
        padding: 0px;
        padding-top: 2px;
    }

    .col-md-9 {
        padding: 0px;
        margin-left: 3px;
    }

    &:hover {
        color: #f2849e;
        cursor: pointer;
    }
}

.view-result {
    width: 120px;
    padding: 0px;
    float: right;
    padding-left: 11px;

    .col-md-2 {
        padding: 0px;
        padding-top: 2px;
    }

    .col-md-9 {
        padding: 0px;
        margin-left: 3px;
    }

    &:hover {
        color: #f2849e;
        cursor: pointer;
    }
}

.col-option {
    padding-top: 35px;
}

#header .logo .symbol {
    margin-right: 0px;
}

.title {
    margin-left: -7px;
}

.show-chart {
    padding: 0px;
    margin-top: 20px;
}

.highcharts-contextmenu {
    background: rgb(230, 226, 224);
    border-radius: 5px;
}

#container-chart {
    background: gray;
}

.question-chart {
    padding:15px;

    >h4 {
        margin-bottom: 0px;
        font-weight: normal;
        font-size: 18px;
        word-break: break-word;
    }
}

.content-chart {
    padding-left: 20px;
    padding-bottom: 15px;

    h5 {
        margin: 5px;
        font-weight: inherit;
        line-height: 20px;
        font-size: 17px;
    }
}

.container-text-question {
    padding-left: 7%;
}

.info-img-name {
    >img{
        width: 50px;
        height:50px;
        border-radius: 5px;
    }
}

#frm-birthday {
    border: 0px;
    border-bottom: 1px solid #becad6;
}

.div-require {
    border: 1px solid gray;
    padding-left: 5px;
    border: 0px;
    border-bottom: 3px solid gray;
    border-radius: 5px;
    height: 41px;
    top: -5px;
    width: 21%;
    padding-left: 10px;
}

.label-require {
    margin:0px !important;
    font-size: 16px;
    padding-top: 10px;
    margin-right: -7% !important;
}

.time-text {
    padding-top: 2%;
    color: gray;
}

.container-text {
    .button-require {
        top: -19px;
    }
}

.button-require {
    top: -7px;
}

.tag-absolute {
    position: absolute !important;
    opacity: 0 !important;
}

.tag-wizard-top {
    font-size: 22px;
    color: #5f6564;
    text-transform: uppercase;
}

.wizard-register {
    padding:40px 80px 35px;
}

.gender-option {
    padding-top: 35px !important;
}

.avatar-img {
    font-size: 16px;
    padding-top: 13px;
    padding-left: 25px;
    color: #616071;
}

.container-list-result {
    display: none;
}

input.form-control, textarea.form-control {
    border: 0px;
    border-bottom: 2px solid gray;
    &:focus {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
}

textarea.form-control {
    margin-bottom: 0px;
}

input[type="text"] {
    &:focus {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
}

.tag-question {
    margin-top: 20px;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.submit-answer {
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 35px;
    font-weight: bold;
    background: #666e96;
    border: 0px;
    &:hover {
        background: #1992ce;
    }
}

.btn-change-survey {
    box-shadow: 1px 2px 4px rgba(119, 132, 130, 0.56);
}

.image-avatar-response.image-avatar {
    display: none;
}

.tab-list {
    padding-right: 30px;
}

@media (max-width: 330px) {
    .div-content-answer {
        .fa-circle-o {
            margin-top: 10px;
        }

        .fa-square-o {
            margin-top: 9px;
        }
    }
}

@media (max-width: 767px) {
    .tab-list {
        padding-right: 15px !important;
    }

    .table-list-row .alert {
        margin-right: 15px !important;
        margin-left: 15px !important;
    }

    .image-avatar-response.image-avatar {
        display: block;
    }

    .li-lang {
        margin-top: 10px !important;
    }

    .span-responsive-img {
        display: none;
    }

    .survey_container, .survey_container {
        width: 100%;
        height: 100%;
        margin-left: 0%;
    }

    .img-trash {
        padding-top: 5px;
        padding-left: 5%;
        margin-bottom: 10px;
    }

    .offset-label {
        display: none;
    }

    .text-empty > input[type="text"] {
        width: 100%;
        margin-left: 15px;
    }

    .text-question {
        input[type="text"]{
            width: 98%;
        }
    }

    .div-required {
        margin-top: 15px;
    }

    .time-text {
        padding-top: 1%;
        text-align: right;
    }

    .div-content-answer {
        .fa-circle-o {
            margin-top: 6px;
        }

        .fa-square-o {
            margin-top: 7px;
        }
    }
}

.container-add-question {
    .class-option-require {
        margin-top: 20%;
    }
}


.checkbox > input[type=checkbox] {
    visibility: hidden;
}

.checkbox {
    position: relative;
    display: block;
    width: 80px;
    height: 26px;
    margin: 0 auto;
    background: #FFF;
    border: 1px solid #6b938f;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.checkbox:after {
    position: absolute;
    display: inline;
    right: 10px;
    content: 'no';
    color: #E53935;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    z-index: 0;
}

.checkbox:before {
    position: absolute;
    display: inline;
    left: 10px;
    content: 'yes';
    color: #43A047;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    z-index: 0;
}

.checkbox label {
    position: absolute;
    display: block;
    top: 2px;
    left: 3px;
    width: 34px;
    height: 20px;
    background: #b4c2c4;
    cursor: pointer;
    transition: all 0.5s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    z-index: 1;
}

.checkbox input[type=checkbox]:checked + label {
    left: 43px;
}

.choose-action {
    >.col-md-6, >.col-md-7 {
        >span {
            cursor: pointer;
            font-weight: bold;
            font-size: 13px;
            color: #1ab9a7;
        }
    }
}

.span-other {
    color: black !important;
    font-weight: normal !important;
}

.content-4 {
    .detail-survey{
        padding: 20px 20px;
    }
}

.img-thank {
    width: initial !important;
    max-width: 100%;
}

.div-thank {
    text-align: center;
}

.modal-backdrop {
    z-index: 7;
}
