ul.content-margin-top-management,
ul.content-margin-top-preview,
.ul-preview.ul-content-preview {
    margin-top: 0px !important;
    width: 100%;
    max-width: none;
}

.content-wrapper-management {
    padding: 20px 0px 0px 0px !important;
    margin-bottom: 0px !important;
}

.cd-main-content .content-wrapper {
    padding: 0px;
}

.form-wrapper {
    box-shadow: none;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}
.ui-block-content {
    padding: 0px !important;
    color: #333;
}

.font-profile {
    padding-bottom: 15px;
}

.image-header {
    position: none;
    display: none;
}

.input-edit-token, .input-edit-token-manage {
    display: inline-block;
    width: auto;
    padding-left: 0px;
    width: 20em;
    color: #ce3b3b;
    cursor: pointer;
    margin-bottom: 10px;
}

.tooltip-inner {
    text-transform: unset;
}

.config-link-survey {
    padding: 0px 55px;
    border-bottom: 1px solid #edf2f6;
}

.swal-text {
    text-align: center !important;
}

.col-form-label-custom {
    color: #272629 !important;
    font-size: 15px !important;
    font-weight: normal !important;
}

.edit-token-survey, .edit-token-manage-survey {
    display: none;
}

.form-group-custom {
    margin-bottom: 0px !important;
}

.unset-max-with {
    max-width: unset !important;
}

textarea {
    min-height: unset !important;
}

span.url-config-management {
    color: #333;
}

.div-list-survey {
    min-height: unset;
}

a.btn.btn-info.copy-link-survey, a.btn.btn-info.copy-link-manage {
    padding: 4px 12px;
    margin-bottom: 0px;
}

@media (min-width: 1200px) {
    .container.div-list-survey {
        max-width: 900px;
    }
}

@media (min-width: 1600px) {
    .container.div-list-survey {
        max-width: 1050px;
    }
}

@media (min-width: 1800px) {
    .container.div-list-survey {
        max-width: 1150px;
    }
}

@media (max-width: 992px) {
    a.btn.btn-info.copy-link-survey, a.btn.btn-info.copy-link-manage {
        padding: 7px 16px;
        margin-bottom: 0px;
    }
}

.content-section-preview .title-question-preview {
    left: -15px;
}
