/*style preview*/

.header#header {
    display: none;
}

.image-header {
    width: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -150px;
}

.image-header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -120px 55px -30px rgba(0, 0, 0, 0.5);
}

img {
    width: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content-wrapper {
    margin-bottom: 60px;
}

ul.content-margin-top-preview {
    margin-top: 110px !important;
}

ul.ul-preview {
    padding-bottom: 0px !important;
    margin-top: 0px;
    max-width: 700px;
}

li.form-line.content-title-section {
    padding-top:  0px;
    background: #43add0;
    color: #fff;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
}

h3.title-section {
    padding-top: 20px;
    line-height: 32px;
    font-size: 24px;
    word-break: break-word;
}

.form-group.form-group-description-section {
    margin-bottom: 0px;
    font-size: 15px;
}

input.input-answer-other, textarea.input-answer-other {
    opacity: 1;
    padding: 0px;
    margin: 0px;
    position: relative;
    border: 0;
    border-color: #ced4da;
    height: 25px;
    background-color: #ffffff;
    display: inline-block;
    padding-left: 0;
    border-radius: 0;
    width: 100%;
}

.magic-box-preview.long-answer-preview {
    width: 100%;
}

.date-answer-preview {
    width: 100px !important;
    border-bottom: 1px solid #ced4da !important;
    text-align: center;
    margin-top: 10px !important;
}

.time-answer-preview {
    width: 60px !important;
    border-bottom: 1px solid #ced4da !important;
    text-align: center;
    margin-top: 10px !important;
}

textarea.input-answer-other:focus,
input.input-answer-other:focus {
    outline: none;
    border-bottom: none;
}

.item-answer {
    padding-top: 15px;
    word-break: break-word;
}

h4.title-question {
    font-size: 20px;
    color: #000;
    word-break: break-word;
    line-height: 30px;
    font-weight: bold;
}

h2.title-survey-preview {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 0 #a0a0a0;
    word-break: break-word;
}

.btn-action-preview {
    background: #e5e5e5;
    border: none;
    padding: 10px 25px;
    border-radius: 3px;
    color: #170201;
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
}

.btn-action-preview:hover {
    background: #c2c2c2e3;
    color: #333;
}

.btn-action-preview-submit {
    background: #43add1;
    color: #FFF;
    cursor: pointer;
}

.btn-action-preview-submit:hover  {
    background: #128ab3;
    color: #FFF;
}

.title-question-preview {
    left: unset;
    margin: 0px -35px;
    box-shadow: none;
    color: #fff;
    padding: 10px 35px;
    height: unset;
    text-align: left;
    line-height: 25px;
    max-width: 90%;
    width: auto;
    position: relative;
    display: inline-block;
    background: url(/templates/survey/images/title.jpg) no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    font-size: 22px;
    word-break: break-word !important;
}

.img-preview-answer-survey {
    width: 15em;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    background-color: white;
    margin: 20px 0 10px 0;
}

.img-preview-answer-survey .img-answer {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    min-height: 0%;
    min-width: 0%;
    margin: 12px 0;
    outline-width: 0;
    padding: 8px;
}

.magic-box-preview > input:focus {
    outline: none;
}

.magic-box-preview {
    opacity: 1;
    padding: 0px;
    margin: 0px;
    position: relative;
    background-color: #ffffff;
    display: inline-block;
    padding-left: 0;
    border-radius: 0;
    width: 70%;
    border-bottom: 1px solid #ced4da;
}

span.index-question {
    margin-right: 10px;
    background: #43add1;
    border-radius: 50%;
    height: 30px;
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #fff;
}

.magic-box-preview::after, .magic-box-preview::before {
    content: ' ';
    width:0%;
    bottom:0px;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    transition:ease-in-out .5s all;
}

.magic-box-preview::before {
    width:100%;
}

.magic-box-preview::after {
    border-bottom: 1px solid #43add1;
}

.magic-box-preview:focus-within::after {
    width:100%;
}

span.description-survey {
    color: #040f25;
    font-size: 13px;
}

span.description-section {
    color: #fff;
    font-size: 13px;
}

span.description-date-time {
    font-size: 13px;
    padding-left: 2px;
    display: block;
    padding-top: 10px;
}

span.description-question {
    color: #1a2b53;
    font-size: 13px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 15rem !important;
    box-shadow: 0px 0px 4px 0px #012e3e94;
}

.notice-required-question {
    color: #F00;
}

.notice-required {
    color: #f00;
    font-size: 15px;
    padding-top: 15px;
    display: none;
}

.change-css-required {
    border-color: #f00 !important;
}

@media (max-width: 1200px) {
    .image-header {
        top: -50px;
    }
}

@media (max-width: 980px) {
    .image-header {
        top: -40px;
    }
}

@media (max-width: 880px) {
    .image-header {
        top: -30px;
    }
}

@media (max-width: 780px) {
    .image-header {
        top: -20px;
    }
}

@media (max-width: 680px) {
    .image-header {
        top: -10px;
    }

    ul.content-margin-top-preview {
        margin-top: 40px !important;
    }

    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 580px) {
    .image-header {
        top: 0px;
    }

    ul.content-margin-top-preview {
        margin-top: 20px !important;
    }

    h3.title-section {
        line-height: 30px;
    }
}
