.btn.btn-secondary-result-answer {
    background: #FFF;
    color: #333 !important;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #43add1;
    box-shadow: none;
}

.btn.btn-secondary-result-answer-actived {
    background: #43add1;
    color: #FFF !important;
}

p.item-answer-result-even {
    line-height: 18px;
    padding: 8px 10px;
    background: #58b0ce2b;
    margin: 0;
    color: #404040;
}

p.item-answer-result-odd {
    line-height: 18px;
    padding: 8px 10px;
    background: #58b0ce08;
    margin: 0;
    color: #575757;
}

.answer-result {
    margin-top: 30px;
}

.ul-result {
    padding-bottom: 0px !important;
    margin-top: 0px;
    max-width: 750px;
    background: #FFF;
    border-radius: 5px 5px 0 0;
}

.li-question-result:hover {
    -webkit-box-shadow: 0 7px 10px 1px rgba(0,0,0,0.14), 0 2px 16px 1px rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.2);
    box-shadow: 0 7px 10px 1px rgba(0,0,0,0.14), 0 2px 16px 1px rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.2);
    position: relative;
}

.chart-result-answer {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
    margin-left: -50px;
}

/*aaaaa*/

span.number-result-answer {
    font-size: 12px;
    display: block;
    color: rgba(0,0,0,0.54);
}

span.percent-answer {
    color: #1d4d00;
}

.form-wrapper .form-line {
    padding: 25px 50px;
}

.highcharts-pie-series .highcharts-point {
    stroke: none !important;
}

.form-line-title-survey-result {
    padding: 25px 50px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px 5px 0 0;
}

h2.title-survey-result {
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 1px 1px 0 #a0a0a0;
}

.header#header {
    display: unset;
}

ul.content-margin-top-preview {
    margin-top: 55px !important;
}

h3.title-section {
    padding-top: 16px;
    line-height: 32px;
    word-break: break-all;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

h4.title-question {
    font-weight: bold;
}

.form-header {
    border-radius: unset;
}

.tooltip-inner {
    background-color: #303843e6;
    font-size: 14px !important;
    max-width: 600px !important;
    min-width: 200px !important;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #303843e6 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #303843e6 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #303843e6 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #303843e6 !important;
}

.title-question-preview {
    margin-left: -50px;
    word-break: break-all;
    padding-right: 50px
}

#style-scroll-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-scroll-3::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

#style-scroll-3::-webkit-scrollbar-thumb {
    background-color: #2077a0;
    border-radius: 10px;
}

span.description-section-result {
    font-size: 15px;
    color: #e3dfdf;
    display: block;
    text-align: left;
}

span.index-question {
    margin-right: 15px;
    background: #43add1;
    border-radius: 50%;
    height: 30px;
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #fff;
}

.btn-export-excel {
    text-align: right;
}

.btn-export-excel a {
    color: #000;
    font-size: 20px;
}

.content-pupup-export {
    padding: 5px 30px;
}

.footer-pupup-export {
    padding-right: 15px;
}

.modal-dialog {
    width: 500px;
}

/* detail */
.image-active-result {
    border: 2px solid rgb(67, 173, 209);
}

.block-hover {
    pointer-events:none;
}

.page-show-detail-result {
    background: #0082ab;
    padding: 20px 35px;
    text-align: center;
    -webkit-box-shadow: 0 7px 10px 1px rgba(0,0,0,0.14), 0 2px 16px 1px rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.2);
    box-shadow: 0 7px 10px 1px rgba(0,0,0,0.14), 0 2px 16px 1px rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.header-detail-result {
    background: #fff;
    height: 35px;
}

.action-view-detail-answer {
    display: block;
}

.page-answer-detail {
    display: unset;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    width: 40px;
    height: 30px;
    line-height: 31px;
    text-align: center;
    padding: 0px 5px;
    margin: 0 10px;
    color: #000;
    border-radius: 5px;
}

.action-view-detail-answer span {
    margin: 0 5px;
    color: #333;
}

span.message-result {
    display: block;
    font-size: 18px;
    color: #09191f;
}

.nothing-to-collect {
    padding: 4%;
    color: #000;
    font-size: 17px;
    font-weight: 400;
}
